DATABASE_NAME=your_database_name
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
PORT=8000
AUTH_SECRET=your_super_secret_jwt_key
ADMIN_USERNAMES=admin_username_1,admin_username_2
